<footer>
    <div class="f-info"  style="background-color: #DFD7BF;">
        <div class="f-info-socials">
            <a href="https://www.linkedin.com/in/dayakar-reddy-gorita-b43836234/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.facebook.com/daya.gorita"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/daya_7781/"><i class="fa-brands fa-square-instagram"></i></a>
        </div>
        <div class="f-info-brand">&copy; Mahi Fan7  </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>